TeamsCreationAutomationWithPowerAutomate/TeamsCreation/Workflows/CloneaTeamtocreateanewone-57BD5584-4F80-EA11-A811-000D3AF427B4.json
{"properties":{"connectionReferences":{"shared_cr1ef-5fms-20graph-20-2d-20teams-5f668ee2691bcc1b51":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"cr1ef_sharedcr1ef5fms20graph202d20teams5f668ee2691bcc1b51_43292"},"api":{"name":"shared_cr1ef-5fms-20graph-20-2d-20teams-5f668ee2691bcc1b51","logicalName":"cr1ef_5Fms-20graph-20-2D-20teams"}},"shared_teams_1":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"cr1ef_sharedteams_a4b96"},"api":{"name":"shared_teams"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{"text":{"title":"teamTemplateId","type":"string","x-ms-dynamically-added":true,"description":"ID of the Team template you want to clone","x-ms-content-hint":"TEXT"},"text_1":{"title":"displayName","type":"string","x-ms-dynamically-added":true,"description":"Display name of the Team you want to create","x-ms-content-hint":"TEXT"},"text_2":{"title":"description","type":"string","x-ms-dynamically-added":true,"description":"Description of the Team you want to create","x-ms-content-hint":"TEXT"},"text_3":{"title":"mailNickname","type":"string","x-ms-dynamically-added":true,"description":"Mail nickname of the Team you want to create","x-ms-content-hint":"TEXT"},"text_4":{"title":"visibility","type":"string","x-ms-dynamically-added":true,"description":"Visibility of the Team you want to create (Public or Private)","x-ms-content-hint":"TEXT"},"boolean":{"title":"cloneApps","type":"boolean","x-ms-dynamically-added":true,"description":"Do you want your new Team to inherit the Apps of the Team template?","x-ms-content-hint":"BOOLEAN"},"boolean_1":{"title":"cloneTabs","type":"boolean","x-ms-dynamically-added":true,"description":"Do you want your new Team to inherit the Tabs of the Team template?","x-ms-content-hint":"BOOLEAN"},"boolean_2":{"title":"cloneSettings","type":"boolean","x-ms-dynamically-added":true,"description":"Do you want your new Team to inherit the Settings of the Team template?","x-ms-content-hint":"BOOLEAN"},"boolean_3":{"title":"cloneChannels","type":"boolean","x-ms-dynamically-added":true,"description":"Do you want your new Team to inherit the Channels of the Team template?","x-ms-content-hint":"BOOLEAN"},"boolean_4":{"title":"cloneMembers","type":"boolean","x-ms-dynamically-added":true,"description":"Do you want your new Team to inherit the Members of the Team template?","x-ms-content-hint":"BOOLEAN"},"text_5":{"title":"requesterUserPrincipalName","type":"string","x-ms-dynamically-added":true,"description":"Email of the user who requested the creation of the new Team","x-ms-content-hint":"TEXT"}},"required":["text","text_1","text_2","text_3","text_4","boolean","boolean_1","boolean_2","boolean_3","boolean_4","text_5"]}}}},"actions":{"Initialize_\"partsToClone\"_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"partsToClone","type":"string"}]}},"Initialize_\"teamCloningOperationStatus\"_variable":{"runAfter":{"Initialize_\"partsToClone\"_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"teamCloningOperationStatus","type":"string"}]}},"If_\"partsToClone\"_variable_not_empty,_we_continue":{"actions":{"Remove_last_comma_from_\"partsToClone\"_variable":{"runAfter":{},"type":"Compose","inputs":"@take(variables('partsToClone'), sub(length(variables('partsToClone')), 1))","description":"@{take(variables('partsToClone'), sub(length(variables('partsToClone')), 1))}"},"Final_update_of_\"partsToClone\"_variable":{"runAfter":{"Remove_last_comma_from_\"partsToClone\"_variable":["Succeeded"]},"type":"SetVariable","inputs":{"name":"partsToClone","value":"@{outputs('Remove_last_comma_from_\"partsToClone\"_variable')}"},"description":"@{outputs('Remove_last_comma_from_\"partsToClone\"_variable')}"}},"runAfter":{"Set_\"partsToClone\"_variable_based_on_inputs":["Succeeded","Failed","Skipped","TimedOut"]},"else":{"actions":{"Cancel_flow_run_because_no_part_to_clone_selected":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Cancelled"}}}},"expression":{"equals":["@empty(variables('partsToClone'))","@false"]},"type":"If","description":"empty(variables('partsToClone'))"},"Send_Team_creation_status_by_cloning_to_me":{"runAfter":{"Add_Team_cloning_requester_as_Team_Owner":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_teams_1","operationId":"PostUserNotification","apiId":"/providers/Microsoft.PowerApps/apis/shared_teams"},"parameters":{"PostNotificationRequest/messageTitle":"@{triggerBody()['text_1']} creation status","PostNotificationRequest/recipient/to":"raphael@powerpanda.onmicrosoft.com;","PostNotificationRequest/messageBody":"The creation of the @{triggerBody()['text_1']} name by cloning has ended with the following status: @{variables('teamCloningOperationStatus')}. And \"@{triggerBody()['text_5']}\" has been addeed as Team owner."},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Set_\"partsToClone\"_variable_based_on_inputs":{"actions":{"If_\"cloneApps\"_set_to_\"Yes\",_add_it_to_\"partsToClone\"_variable":{"actions":{"Add_\"apps\"_to_\"partsToClone\"_variable":{"runAfter":{},"type":"SetVariable","inputs":{"name":"partsToClone","value":"apps,"}}},"runAfter":{},"expression":{"equals":["@triggerBody()['boolean']","@true"]},"type":"If"},"If_\"cloneTabs\"_set_to_\"Yes\",_add_it_to_\"partsToClone\"_variable":{"actions":{"Compose_for_\"tabs\"":{"runAfter":{},"type":"Compose","inputs":"@concat(variables('partsToClone'), 'tabs,')"},"Add_\"tabs\"_to_\"partsToClone\"_variable":{"runAfter":{"Compose_for_\"tabs\"":["Succeeded"]},"type":"SetVariable","inputs":{"name":"partsToClone","value":"@{outputs('Compose_for_\"tabs\"')}"}}},"runAfter":{"If_\"cloneApps\"_set_to_\"Yes\",_add_it_to_\"partsToClone\"_variable":["Succeeded"]},"expression":{"equals":["@triggerBody()['boolean_1']","@true"]},"type":"If"},"If_\"cloneSettings\"_set_to_\"Yes\",_add_it_to_\"partsToClone\"_variable":{"actions":{"Compose_for_\"settings\"":{"runAfter":{},"type":"Compose","inputs":"@concat(variables('partsToClone'), 'settings,')"},"Add_\"settings\"_to_\"partsToClone\"_variable":{"runAfter":{"Compose_for_\"settings\"":["Succeeded"]},"type":"SetVariable","inputs":{"name":"partsToClone","value":"@{outputs('Compose_for_\"settings\"')}"}}},"runAfter":{"If_\"cloneTabs\"_set_to_\"Yes\",_add_it_to_\"partsToClone\"_variable":["Succeeded"]},"expression":{"equals":["@triggerBody()['boolean_2']","@true"]},"type":"If"},"If_\"cloneChannels\"_set_to_\"Yes\",_add_it_to_\"partsToClone\"_variable":{"actions":{"Compose_for_\"channels\"":{"runAfter":{},"type":"Compose","inputs":"@concat(variables('partsToClone'), 'channels,')","description":"concat(variables('partsToClone'), 'channels,')"},"Add_\"channels\"_to_\"partsToClone\"_variable":{"runAfter":{"Compose_for_\"channels\"":["Succeeded"]},"type":"SetVariable","inputs":{"name":"partsToClone","value":"@{outputs('Compose_for_\"channels\"')}"},"description":"concat(variables('partsToClone'), 'channels,')"}},"runAfter":{"If_\"cloneSettings\"_set_to_\"Yes\",_add_it_to_\"partsToClone\"_variable":["Succeeded"]},"expression":{"equals":["@triggerBody()['boolean_3']","@true"]},"type":"If"},"If_\"cloneMembers\"_set_to_\"Yes\",_add_it_to_\"partsToClone\"_variable":{"actions":{"Compose_for_\"members\"":{"runAfter":{},"type":"Compose","inputs":"@concat(variables('partsToClone'), 'members,')"},"Add_\"members\"_to_\"partsToClone\"_variable":{"runAfter":{"Compose_for_\"members\"":["Succeeded"]},"type":"SetVariable","inputs":{"name":"partsToClone","value":"@{outputs('Compose_for_\"members\"')}"}}},"runAfter":{"If_\"cloneChannels\"_set_to_\"Yes\",_add_it_to_\"partsToClone\"_variable":["Succeeded"]},"expression":{"equals":["@triggerBody()['boolean_4']","@true"]},"type":"If"}},"runAfter":{"Initialize_\"teamId\"_variable":["Succeeded"]},"type":"Scope"},"Team_cloning":{"actions":{"Clone_Team":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"CloneTeam"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_cr1ef-5fms-20graph-20-2d-20teams-5f668ee2691bcc1b51']['connectionId']"}},"method":"post","body":{"displayName":"@triggerBody()['text_1']","description":"@triggerBody()['text_2']","mailNickname":"@triggerBody()['text_3']","partsToClone":"@variables('partsToClone')","visibility":"@triggerBody()['text_4']"},"headers":{"Content-Type":"application/json"},"path":"/teams/@{encodeURIComponent(triggerBody()['text'])}/clone","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Remove_first_character_from_\"Location\"_returned_by_\"Clone_Team\"_call":{"runAfter":{"Clone_Team":["Succeeded"]},"type":"Compose","inputs":"@substring(outputs('Clone_Team')?['headers/Location'], 1, sub(length(outputs('Clone_Team')?['headers/Location']), 1))","description":"@{substring(outputs('Clone_Team')?['headers/Location'], 1, sub(length(outputs('Clone_Team')?['headers/Location']), 1))}"},"Get_Team_Cloning_Operation_Status_until_it_is_\"succeeded\"":{"actions":{"If_\"status\"_not_\"succeeded\",_wait_30_seconds":{"actions":{"Delay_30_seconds_before_try_again_to_check_operation_status":{"runAfter":{},"type":"Wait","inputs":{"interval":{"count":30,"unit":"Second"}}}},"runAfter":{"Set_\"teamCloningOperationStatus\"_with_status_returned":["Succeeded"]},"else":{"actions":{"Set_\"teamId\"_variable":{"runAfter":{},"type":"SetVariable","inputs":{"name":"teamId","value":"@body('Get_Team_Operation_Status')?['targetResourceId']"}}}},"expression":{"not":{"equals":["@variables('teamCloningOperationStatus')","succeeded"]}},"type":"If"},"Get_Team_Operation_Status":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetTeamOperationStatus"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_cr1ef-5fms-20graph-20-2d-20teams-5f668ee2691bcc1b51']['connectionId']"}},"method":"get","path":"/@{encodeURIComponent(outputs('Remove_first_character_from_\"Location\"_returned_by_\"Clone_Team\"_call'))}","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"description":"@{outputs('Remove_first_character_from_\"Location\"_returned_by_\"Clone_Team\"_call')}"},"Set_\"teamCloningOperationStatus\"_with_status_returned":{"runAfter":{"Get_Team_Operation_Status":["Succeeded"]},"type":"SetVariable","inputs":{"name":"teamCloningOperationStatus","value":"@body('Get_Team_Operation_Status')?['status']"}}},"runAfter":{"Remove_first_character_from_\"Location\"_returned_by_\"Clone_Team\"_call":["Succeeded"]},"expression":"@equals(variables('teamCloningOperationStatus'), 'succeeded')","limit":{"count":60,"timeout":"PT1H"},"type":"Until"}},"runAfter":{"If_\"partsToClone\"_variable_not_empty,_we_continue":["Succeeded"]},"type":"Scope"},"Add_Team_cloning_requester_as_Team_Owner":{"actions":{"Get_Requester_Details":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetUserDetails"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_cr1ef-5fms-20graph-20-2d-20teams-5f668ee2691bcc1b51']['connectionId']"}},"method":"get","path":"/users/@{encodeURIComponent(triggerBody()['text_5'])}","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Add_Requester_as_Team_Owner":{"runAfter":{"Add_Requester_as_Team_Member":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"AddOwnerToGroup"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_cr1ef-5fms-20graph-20-2d-20teams-5f668ee2691bcc1b51']['connectionId']"}},"method":"post","body":{"@@odata.id":"https://graph.microsoft.com/v1.0/users/@{body('Get_Requester_Details')?['id']}"},"headers":{"Content-type":"application/json","Content-length":30},"path":"/groups/@{encodeURIComponent(variables('teamId'))}/owners/$ref","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Add_Requester_as_Team_Member":{"runAfter":{"Get_Requester_Details":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"AddMemberToGroup"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_cr1ef-5fms-20graph-20-2d-20teams-5f668ee2691bcc1b51']['connectionId']"}},"method":"post","body":{"@@odata.id":"https://graph.microsoft.com/v1.0/directoryObjects/@{body('Get_Requester_Details')?['id']}"},"headers":{"Content-type":"application/json","Content-length":30},"path":"/groups/@{encodeURIComponent(variables('teamId'))}/members/$ref","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"If_Team_cloning_operation_succeeded,_we_continue":["Succeeded"]},"type":"Scope"},"Initialize_\"teamId\"_variable":{"runAfter":{"Initialize_\"teamCloningOperationStatus\"_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"teamId","type":"string"}]}},"If_Team_cloning_operation_succeeded,_we_continue":{"actions":{},"runAfter":{"Team_cloning":["Succeeded","Failed","Skipped","TimedOut"]},"else":{"actions":{"Flow_run_failed_because_Team_cloning_operation_not_succeeded":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Failed","runError":{"code":"100","message":"Team cloning operation not succeeded."}}}}},"expression":{"equals":["@variables('teamCloningOperationStatus')","succeeded"]},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}