TeamsCreationAutomationWithPowerAutomate/TeamsCreation/Workflows/CreateanOffice365GroupandaddaTeamtoit-96BA79F4-ED81-EA11-A811-000D3AF4346A.json
{"properties":{"connectionReferences":{"shared_cr1ef-5fms-20graph-20-2d-20teams-5f668ee2691bcc1b51":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"cr1ef_sharedcr1ef5fms20graph202d20teams5f668ee2691bcc1b51_43292"},"api":{"name":"shared_cr1ef-5fms-20graph-20-2d-20teams-5f668ee2691bcc1b51","logicalName":"cr1ef_5Fms-20graph-20-2D-20teams"}},"shared_teams_1":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"cr1ef_sharedteams_a4b96"},"api":{"name":"shared_teams"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{"text":{"title":"displayName","type":"string","x-ms-dynamically-added":true,"description":"Display name of the Team you want to create","x-ms-content-hint":"TEXT"},"text_1":{"title":"mailNickname","type":"string","x-ms-dynamically-added":true,"description":"Mail nickname of the Team you want to create","x-ms-content-hint":"TEXT"},"text_2":{"title":"description","type":"string","x-ms-dynamically-added":true,"description":"Description of the Team you want to create","x-ms-content-hint":"TEXT"},"text_3":{"title":"visibility","type":"string","x-ms-dynamically-added":true,"description":"Visibility of the Team you want to create (Public or Private)","x-ms-content-hint":"TEXT"},"text_4":{"title":"requesterUserPrincipalName","type":"string","x-ms-dynamically-added":true,"description":"Email of the user who requested the creation of the new Team","x-ms-content-hint":"TEXT"}},"required":["text","text_1","text_2","text_3","text_4"]}}}},"actions":{"Get_Current_User_Details":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetCurrentUserDetails"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_cr1ef-5fms-20graph-20-2d-20teams-5f668ee2691bcc1b51']['connectionId']"}},"method":"get","path":"/me/","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_Requester_Details":{"runAfter":{"Get_Current_User_Details":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetUserDetails"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_cr1ef-5fms-20graph-20-2d-20teams-5f668ee2691bcc1b51']['connectionId']"}},"method":"get","path":"/users/@{encodeURIComponent(triggerBody()['text_4'])}","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"\"Current_User_Owner\"_variable":{"runAfter":{"Get_Requester_Details":["Succeeded"]},"type":"Compose","inputs":"https://graph.microsoft.com/v1.0/users/@{body('Get_Current_User_Details')?['id']}","description":"https://graph.microsoft.com/v1.0/users/@{body('Get_Current_User_Details')?['id']}"},"\"Requester_Owner\"_variable":{"runAfter":{"\"Current_User_Owner\"_variable":["Succeeded"]},"type":"Compose","inputs":"https://graph.microsoft.com/v1.0/users/@{body('Get_Requester_Details')?['id']}","description":"https://graph.microsoft.com/v1.0/users/@{body('Get_Requester_Details')?['id']}"},"Create_Office_365_Group":{"runAfter":{"\"Requester_Owner\"_variable":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"CreateGroup"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_cr1ef-5fms-20graph-20-2d-20teams-5f668ee2691bcc1b51']['connectionId']"}},"method":"post","body":{"displayName":"@triggerBody()['text']","mailNickname":"@triggerBody()['text_1']","description":"@triggerBody()['text_2']","visibility":"@triggerBody()['text_3']","groupTypes":["Unified"],"mailEnabled":true,"securityEnabled":false,"members@odata.bind":["@{outputs('\"Current_User_Owner\"_variable')}","@{outputs('\"Requester_Owner\"_variable')}"],"owners@odata.bind":["@{outputs('\"Current_User_Owner\"_variable')}","@{outputs('\"Requester_Owner\"_variable')}"]},"path":"/groups","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Add_Team_To_Office_365_Group":{"runAfter":{"Create_Office_365_Group":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"AddTeamToOffice365Group"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_cr1ef-5fms-20graph-20-2d-20teams-5f668ee2691bcc1b51']['connectionId']"}},"method":"put","body":{"memberSettings":{"allowCreateUpdateChannels":true},"messagingSettings":{"allowUserEditMessages":true,"allowUserDeleteMessages":true},"funSettings":{"allowGiphy":true,"giphyContentRating":"strict"}},"headers":{"Content-type":"application/json"},"path":"/groups/@{encodeURIComponent(body('Create_Office_365_Group')?['id'])}/team","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"description":"@{body('Create_Office_365_Group')?['id']}"},"Send_Team_creation_status_by_cloning_to_me":{"runAfter":{"Add_Team_To_Office_365_Group":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_teams_1","operationId":"PostUserNotification","apiId":"/providers/Microsoft.PowerApps/apis/shared_teams"},"parameters":{"PostNotificationRequest/messageTitle":"@{triggerBody()['text']} creation status","PostNotificationRequest/recipient/to":"raphael@powerpanda.onmicrosoft.com;","PostNotificationRequest/messageBody":"The creation of the @{triggerBody()['text']} name by cloning has ended."},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}