TeamsCreationAutomationWithPowerAutomate/TeamsCreation/Workflows/TeamCreation-Betaversion-DE4FD1CE-AB82-EA11-A811-000D3AF4346A.json
{"properties":{"connectionReferences":{"shared_cr1ef-5fms-20graph-20-2d-20teams-5f668ee2691bcc1b51":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"cr1ef_sharedcr1ef5fms20graph202d20teams5f668ee2691bcc1b51_43292"},"api":{"name":"shared_cr1ef-5fms-20graph-20-2d-20teams-5f668ee2691bcc1b51","logicalName":"cr1ef_5Fms-20graph-20-2D-20teams"}},"shared_cr1ef-5fms-20graph-20-2d-20beta-20-2d-20teams-5f668ee2691bcc1b51":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"cr1ef_sharedcr1ef5fms20graph202d20beta202d20teams5f668ee2691bcc1b51_36e28"},"api":{"name":"shared_cr1ef-5fms-20graph-20-2d-20beta-20-2d-20teams-5f668ee2691bcc1b51","logicalName":"cr1ef_5Fms-20graph-20-2D-20beta-20-2D-20teams"}},"shared_teams_1":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"cr1ef_sharedteams_a4b96"},"api":{"name":"shared_teams"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{"text":{"title":"visibility","type":"string","x-ms-dynamically-added":true,"description":"Visibility of the Team you want to create (Public or Private)","x-ms-content-hint":"TEXT"},"text_1":{"title":"displayName","type":"string","x-ms-dynamically-added":true,"description":"Display name of the Team you want to create","x-ms-content-hint":"TEXT"},"text_2":{"title":"description","type":"string","x-ms-dynamically-added":true,"description":"Description of the Team you want to create","x-ms-content-hint":"TEXT"},"text_3":{"title":"requesterUserPrincipalName","type":"string","x-ms-dynamically-added":true,"description":"Email of the user who requested the creation of the new Team","x-ms-content-hint":"TEXT"},"text_4":{"title":"channels","type":"string","x-ms-dynamically-added":true,"description":"Configuration of the channels you want to add to the new Team as an array of objects (\"[...]\")","x-ms-content-hint":"TEXT"},"text_5":{"title":"installedApps","type":"string","x-ms-dynamically-added":true,"description":"Configuration of the apps you want to add to the new Team as an array of objects (\"[...]\")","x-ms-content-hint":"TEXT"}},"required":["text","text_1","text_2","text_3","text_4","text_5"]}}}},"actions":{"Initialize_\"showInTeamsSearchAndSuggestions\"_variable":{"runAfter":{"Initialize_\"installedAppsArray\"_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"showInTeamsSearchAndSuggestions","type":"boolean","value":"@false"}]}},"Initialize_\"teamCreationOperationStatus\"_variable":{"runAfter":{"Initialize_\"showInTeamsSearchAndSuggestions\"_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"teamCreationOperationStatus","type":"string"}]}},"Finalization_of_data_initialization_for_Team_creation":{"actions":{"If_visibility_public,_set_showInTeamsSearchAndSuggestions_to_true":{"actions":{"Set_\"showInTeamsSearchAndSuggestions\"_to_True":{"runAfter":{},"type":"SetVariable","inputs":{"name":"showInTeamsSearchAndSuggestions","value":"@true"}}},"runAfter":{},"expression":{"equals":["@triggerBody()['text']","Public"]},"type":"If"},"Get_Current_User_Details":{"runAfter":{"If_visibility_public,_set_showInTeamsSearchAndSuggestions_to_true":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetCurrentUserDetails"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_cr1ef-5fms-20graph-20-2d-20teams-5f668ee2691bcc1b51']['connectionId']"}},"method":"get","path":"/me/","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"\"Current_User_Owner\"_variable":{"runAfter":{"Get_Current_User_Details":["Succeeded"]},"type":"Compose","inputs":"https://graph.microsoft.com/beta/users('@{body('Get_Current_User_Details')?['id']}')","description":"https://graph.microsoft.com/beta/users('@{body('Get_Current_User_Details')?['id']}')"}},"runAfter":{"Initialize_\"teamId\"_variable":["Succeeded"]},"type":"Scope"},"Team_creation":{"actions":{"Create_Team":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_cr1ef-5fms-20graph-20-2d-20beta-20-2d-20teams-5f668ee2691bcc1b51","operationId":"CreateTeam","apiId":"/providers/Microsoft.PowerApps/apis/shared_cr1ef-5fms-20graph-20-2d-20beta-20-2d-20teams-5f668ee2691bcc1b51"},"parameters":{"Content-Type":"application/json","body/template@odata.bind":"https://graph.microsoft.com/beta/teamsTemplates('standard')","body/visibility":"@triggerBody()['text']","body/displayName":"@triggerBody()['text_1']","body/description":"@triggerBody()['text_2']","body/owners@odata.bind":["@outputs('\"Current_User_Owner\"_variable')"],"body/channels":"@outputs('Initialize_\"channelsArray\"_variable')","body/memberSettings/allowCreateUpdateChannels":false,"body/memberSettings/allowDeleteChannels":false,"body/memberSettings/allowAddRemoveApps":false,"body/memberSettings/allowCreateUpdateRemoveTabs":false,"body/memberSettings/allowCreateUpdateRemoveConnectors":false,"body/guestSettings/allowCreateUpdateChannels":false,"body/guestSettings/allowDeleteChannels":false,"body/funSettings/allowGiphy":true,"body/funSettings/giphyContentRating":"Strict","body/funSettings/allowStickersAndMemes":true,"body/funSettings/allowCustomMemes":true,"body/messagingSettings/allowUserEditMessages":true,"body/messagingSettings/allowUserDeleteMessages":true,"body/messagingSettings/allowOwnerDeleteMessages":true,"body/messagingSettings/allowTeamMentions":true,"body/messagingSettings/allowChannelMentions":true,"body/discoverySettings/showInTeamsSearchAndSuggestions":"@variables('showInTeamsSearchAndSuggestions')","body/installedApps":"@outputs('Initialize_\"installedAppsArray\"_variable')"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Remove_first_character_from_\"Location\"_returned_by_\"Create_Team\"_call":{"runAfter":{"Create_Team":["Succeeded"]},"type":"Compose","inputs":"@substring(outputs('Create_Team')?['headers/Location'], 1, sub(length(outputs('Create_Team')?['headers/Location']), 1))","description":"substring(outputs('Clone_Team')?['headers/Location'], 1, sub(length(outputs('Clone_Team')?['headers/Location']), 1))"},"Get_Team_Creation_Operation_Status_until_it_is_\"succeeded\"":{"actions":{"If_\"status\"_not_\"succeeded\",_wait_30_seconds":{"actions":{"Delay_30_seconds_before_try_again_to_check_operation_status":{"runAfter":{},"type":"Wait","inputs":{"interval":{"count":30,"unit":"Second"}}}},"runAfter":{"Set_\"teamCloningOperationStatus\"_with_status_returned":["Succeeded"]},"else":{"actions":{"Set_\"teamId\"_variable":{"runAfter":{},"type":"SetVariable","inputs":{"name":"teamId","value":"@body('Get_Team_Operation_Status')?['targetResourceId']"}}}},"expression":{"not":{"equals":["@variables('teamCreationOperationStatus')","succeeded"]}},"type":"If"},"Get_Team_Operation_Status":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetTeamOperationStatus"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_cr1ef-5fms-20graph-20-2d-20beta-20-2d-20teams-5f668ee2691bcc1b51']['connectionId']"}},"method":"get","path":"/@{encodeURIComponent(outputs('Remove_first_character_from_\"Location\"_returned_by_\"Create_Team\"_call'))}","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Set_\"teamCloningOperationStatus\"_with_status_returned":{"runAfter":{"Get_Team_Operation_Status":["Succeeded"]},"type":"SetVariable","inputs":{"name":"teamCreationOperationStatus","value":"@body('Get_Team_Operation_Status')?['status']"}}},"runAfter":{"Remove_first_character_from_\"Location\"_returned_by_\"Create_Team\"_call":["Succeeded"]},"expression":"@equals(variables('teamCreationOperationStatus'), 'succeeded')","limit":{"count":60,"timeout":"PT1H"},"type":"Until"}},"runAfter":{"Finalization_of_data_initialization_for_Team_creation":["Succeeded"]},"type":"Scope"},"Send_Team_creation_status_to_me":{"runAfter":{"Add_Team_creation_requester_as_Team_Owner":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_teams_1","operationId":"PostUserNotification","apiId":"/providers/Microsoft.PowerApps/apis/shared_teams"},"parameters":{"PostNotificationRequest/messageTitle":"@{triggerBody()['text_1']} creation status","PostNotificationRequest/recipient/to":"raphael@powerpanda.onmicrosoft.com;","PostNotificationRequest/messageBody":"The creation of the @{triggerBody()['text_1']} name by cloning has ended with the following status: @{variables('teamCreationOperationStatus')}"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Initialize_\"channelsArray\"_variable":{"runAfter":{},"type":"Compose","inputs":"@json(triggerBody()['text_4'])","description":"Indicate to the flow that we provided a JSON array in the \"channels\" variable"},"Initialize_\"installedAppsArray\"_variable":{"runAfter":{"Initialize_\"channelsArray\"_variable":["Succeeded"]},"type":"Compose","inputs":"@json(triggerBody()['text_5'])","description":"Indicate to the flow that we provided a JSON array in the \"installedApps\" variable"},"Initialize_\"teamId\"_variable":{"runAfter":{"Initialize_\"teamCreationOperationStatus\"_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"teamId","type":"string"}]}},"If_Team_creation_operation_succeeded,_we_continue":{"actions":{},"runAfter":{"Team_creation":["Succeeded","Failed","Skipped","TimedOut"]},"else":{"actions":{"Flow_run_failed_because_Team_creation_operation_not_succeeded":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Failed","runError":{"code":"100","message":"Team creation operation not succeeded."}}}}},"expression":{"equals":["@variables('teamCreationOperationStatus')","succeeded"]},"type":"If"},"Add_Team_creation_requester_as_Team_Owner":{"actions":{"Get_Requester_Details":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetUserDetails"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_cr1ef-5fms-20graph-20-2d-20teams-5f668ee2691bcc1b51']['connectionId']"}},"method":"get","path":"/users/@{encodeURIComponent(triggerBody()['text_3'])}","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Add_Requester_as_Team_Owner":{"runAfter":{"Add_Requester_as_Team_Member":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"AddOwnerToGroup"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_cr1ef-5fms-20graph-20-2d-20teams-5f668ee2691bcc1b51']['connectionId']"}},"method":"post","body":{"@@odata.id":"https://graph.microsoft.com/v1.0/users/@{body('Get_Requester_Details')?['id']}"},"headers":{"Content-type":"application/json","Content-length":30},"path":"/groups/@{encodeURIComponent(variables('teamId'))}/owners/$ref","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"description":"https://graph.microsoft.com/v1.0/users/@{body('Get_Requester_Details')?['id']}"},"Add_Requester_as_Team_Member":{"runAfter":{"Get_Requester_Details":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"AddMemberToGroup"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_cr1ef-5fms-20graph-20-2d-20teams-5f668ee2691bcc1b51']['connectionId']"}},"method":"post","body":{"@@odata.id":"https://graph.microsoft.com/v1.0/directoryObjects/@{body('Get_Requester_Details')?['id']}"},"headers":{"Content-type":"application/json","Content-length":30},"path":"/groups/@{encodeURIComponent(variables('teamId'))}/members/$ref","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"description":"https://graph.microsoft.com/v1.0/directoryObjects/@{body('Get_Requester_Details')?['id']}"}},"runAfter":{"If_Team_creation_operation_succeeded,_we_continue":["Succeeded"]},"type":"Scope"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}